<label>Server Name</label>
<input
  type = "text"
  class = "form-control"
  (input) = "onUpdateServerName($event)"
/>
<h3>Two Way Binding </h3>
<input
  type = "text"
  class = "form-control"
  [(ngModel)] = "serverName"
/>
<h3>This your custom component</h3>
<h6> Server Name : {{serverName}}</h6>
<h6>{{'Server'}} with server id : {{serverId}} is {{serverStatus}} </h6>
<button class="btn btn-primary"
 [disabled]="!allowNewServer"
 (click)="onCreateServer()">Add</button>
 <p>
     {{serverCreationStatus}}
 </p>